$blue: #16213E;
$blue-transparent: rgba(15, 52, 96, 0.7);

$font-color: #eee;

$pink: #e64553;
$border-pink: 0.5rem solid $pink;
$border-pink-small: 0.2rem solid $pink;

$linear-gradient-default: linear-gradient(to bottom right, rgba(22, 33, 62,0.4), 80%, rgba(233, 69, 96,0.4));
